*{
  box-sizing: border-box;
}

#sss_login {
  display: grid;
  justify-content: center;
  grid-template-rows: 200px 1fr 200px;
  grid-row-start: 2;
}

#sss_login form {
  width: 100%;
  vertical-align: middle;
}


#sss_login label {
  color:#FFFFFF;
}

#sss_login .btn.btn-info{
  outline: none;
  border-color: #73576A;
}
